/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* body {
  background-color: black;
} */

.border {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%,
}

.box {
border: 2px solid red;

}


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passcode-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passcode-grid {

    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;

}

.passcode-btn {
  background-color: grey;
  color: "white";

}

.drop-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* word-wrap: normal; */
  /* flex-wrap: wrap; */
  
  
}

.drop-card {
  border: solid red 2px;

  width: 600px;
  height: 600px;

  line-height: 25px;
  /* font: 2px; */
  /* display: flex; */
  flex-direction: row;
  flex-wrap: wrap;
  font-size:  6px;
  justify-content: center;
  align-items: center;
  /* display: inline-block; */
/* display: grid; */
  /* display: inline-block; */


  /* background-size: contain; */


}

.drop-grid {
  margin: 100px;
display: grid;
/* justify-items: flex-start;
align-items: center; */
/* justify-content: center; */
grid-template-columns: auto auto auto;
/* grid-template-rows: auto auto auto; */
/* border: solid red 2px; */
height: 100%;
width: 100%;
}


.drop-input {
  font-size:  4px;
  display: inline-block;
}
/* 
 input:checked  {
background-color: green;
display: none;
} */

input:focus{
  outline: red;
  border: solid red  1px;
}

/* input {
  border: solid red 1px;
} */